# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://xdafgnvqjrnehwbcfjze.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhkYWZnbnZxanJuZWh3YmNmanplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUxMzU0NTMsImV4cCI6MjA2MDcxMTQ1M30.rDxFQ67TG5Dkf70veec9JRZViM-71_1WlhVMShvU4c8
